{% extends "network/layout.html" %}

{% block body %}

    <div id="posts-all-container">
        <h2>All Posts</h2>
            <div style="display: flex; flex-direction: column; align-items: center;">Container for posts
                <div>
                    {% for post in posts %}
                        <div>
                            <p>{{ post.body }}</p>
                            <p>Author: {{ post.author }}</p>
                            <p>Created at: {{ post.date_created }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
    
    <div id="posts-following-container">
        Following Posts
    </div>
    
    <div id="posts-user-container">
        <div>User Data</div>
        <div>User Posts</div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('#posts-all').addEventListener('click', (event) =>{
                event.preventDefault();
                load_posts('all');
            });
            document.querySelector('#posts-following').addEventListener('click', () => load_posts('following'));
            document.querySelector('#posts-user').addEventListener('click', () => load_posts('user'));

            load_posts("all")
        });
    
        function load_posts(posts){
            if (posts === "all"){
                document.querySelector('#posts-all-container').style.display = 'block';
                document.querySelector('#posts-following-container').style.display = 'none';
                document.querySelector('#posts-user-container').style.display = 'none';
                console.log(`${posts} button was clicked`);
            } else if (posts === "following"){
                document.querySelector('#posts-all-container').style.display = 'none';
                document.querySelector('#posts-following-container').style.display = 'block';
                document.querySelector('#posts-user-container').style.display = 'none';
                console.log(`${posts} button was clicked`);
            } else if (posts === "user") {
                // console.log(`${posts} button was clicked`);
                const username = document.querySelector('#posts-user').innerText.trim();
                // console.log(`${username} button was clicked`);
                load_user_posts(`${username}`)
                }
        }

        function load_user_posts(author){
            clear_children();
            fetch(`/posts/${author}`)
            .then(response => response.json())
            .then(posts => {
                // console.log(posts);
                posts.forEach(post => {
                    const element= document.createElement("div");
                    element.innerHTML = 
                    `
                    <h3 >Post author</h3> <h3 class="posts-user">${post.author}</h3>
                    <p>Content ${post.body}</p>
                    <p>Date created: ${post.date_created}</p>
                    <p>Likes: ${post.likes}</p>
                    `
                    element.addEventListener('click', () => load_user_posts(post.author));
                document.querySelector('#posts-user-container').appendChild(element);
                })
            document.querySelector('#posts-all-container').style.display = 'none';
            document.querySelector('#posts-following-container').style.display = 'none';
            document.querySelector('#posts-user-container').style.display = 'block';
        })};

        function clear_children(){
            myDiv = document.getElementById('posts-user-container');
            myDiv.innerHTML = '';
        }
    </script>
{% endblock %}