{% extends "network/layout.html" %}

{% block body %}
<style>
body{
    background-color: #202124;
}
.main-container{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}
.user-panel{
    width: 200px; 
    height: fit-content;
    padding-right: 1px;
}
.user-title{
    height: 30px;
    background-color: #2c2e32;
    text-align: left;
    color: white;
    padding-top: 5px;
}
.user-info{
    height: 40px;
    background-color: #151618;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}
.post-label{
    height: 40px; 
    background-color: darkslategray; 
    border-top-right-radius: 25px; 
    margin: 0; 
    padding-left: 15px; 
    padding-top: 5px; 
    border-bottom: 1px solid rgb(35, 57, 57);
}
.post-author{
    color: white; 
    text-decoration: none;
}
.post-content{
    border: 1px solid darkgray; 
    padding: 15px; 
    margin: 0; 
    font-size: 24px;
}
.post-content-container{
    background-color: rgb(163, 163, 163); 
    margin: 0px;
}
.post-bottom-container{
    display: flex; 
    justify-content: space-between; 
    padding-left: 15px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    background-color: #323338;
}
.post-like-button{
    background-color: #202124; 
    color: aliceblue; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 10px; 
    padding-right: 10px; 
    border-radius: 20px;
}
.post-date{
    color: rgb(68, 68, 68); 
    margin-right: 10px; 
    padding: 0;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
.new-post-button{
    width: 100%; 
    text-align: center; 
    justify-content: center; 
    background-color: #202124; 
    color: aliceblue; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 10px; 
    padding-right: 10px; 
    border: 1px solid darkgray; 
    border-radius: 20px;
}
.new-post-content{
    background-color: darkgray;
}
.new-post-label{
    height: 40px; 
    background-color: darkslategray; 
    border-radius: 25px; 
    margin: 0px; 
    padding-left: 15px; 
    padding-top: 5px;  
    color: white;
    text-align: center;
}
</style>
<div class="main-container">
    <div class="user-panel">
        <div>
            <div class="user-title">User</div>
            <div class="user-info">{{ author }}</div>
        </div>
        <div>
            <div class="user-title">Followers</div>
            <div class="user-info user-folowers">{{ followers }}</div>
        </div>
        <div>
            <div class="user-title">Following</div>
            <div class="user-info user-following">{{ following }}</div>
        </div>
        <div>
            {% if user.username != author %}
                {% if is_following %}
                    <button class="follow-button" style="display: none">Follow</button>
                    <button class="unfollow-button">Unfollow</button>
                {% else %}
                    <button class="follow-button">Follow</button>
                    <button class="unfollow-button" style="display: none">Unfollow</button>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div style="display: flex; max-width: 800px; flex-direction: column;">
        <h3 class="new-post-label">{{ author }}'s posts:</h3>
        <ul>
            {% for item in posts %}
            <li>
                <h4 class="post-label"> 
                    <a href="{% url 'profile' item.author %}" class="post-author"> 
                        {{ item.author }} posted:
                    </a>
                </h4>
                    <div class="post-content-container">
                        <p class="post-content">{{ item.content }}</p>
                        <div class="post-bottom-container">
                            <div class="post-like-button">Likes  
                                <strong>{{ post_likes.item.id }}
                                    {% if post_likes.item.id %}
                                        {{ post_likes.item.id }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </strong>
                            </div>
                            <div class="post-date">Date posted {{ item.created_at }}</div>
                        </div>
                    </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const followBtn = document.querySelector('.follow-button');
    const unfollowBtn = document.querySelector('.unfollow-button');
    const followerCountElem = document.querySelector('.user-folowers');
    const csrfToken = "{{ csrf_token }}";
    const author = "{{ author }}";

    // Use buttons to toggle between views
    followBtn.addEventListener('click', () => toggleFollow(author));
    unfollowBtn.addEventListener('click', () => toggleFollow(author));

    function toggleFollow(author) {
        const url = followBtn.style.display === "none" ? `/unfollow/${author}/` : `/follow/${author}/`;

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken,
            },
            body: 'csrfmiddlewaretoken=' + csrfToken,
        })
        .then(response => response.json())
        .then(data => {
            if (data.followed) {
                followBtn.style.display = "none";
                unfollowBtn.style.display = "block";
            } else {
                followBtn.style.display = "block";
                unfollowBtn.style.display = "none";
            }

            // Update follower count on the page
            followerCountElem.textContent = data.follower_count;
        })
        .catch(error => console.error("Error:", error));
    }
});
</script>
{% endblock %}


