textarea {
    min-height: 400px;
}
/* body{
    background-color: #5c5e60;;
} */
.email-container{
    /* display: flex;
    flex-direction:row;
    height: 40px;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    align-items:center; */
    cursor: pointer;
}
.email-container:hover{
    background-color: rgb(255, 243, 207);
}
.email-container:active{
    background-color: gray;
}
.mail-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dark{
    background-color: #e9ecef;
}
.email-preview{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.email-field{
    border-bottom: 1px solid darkgray;
}
