textarea {
    min-height: 400px;
}
.email-container{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email-container:hover{
    background-color: rgb(255, 243, 207);
}
.email-container:active{
    background-color: gray;
}
.email-sender-subject {
    flex-grow: 1; 
  }
  
  .email-timestamp {
    white-space: nowrap; 
  }
.mail-buttons-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}
.dark{
    background-color: #e9ecef;
}
.email-preview {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.19);
    border: 1px solid #ddd;
  }
.email-field {
    border-bottom: 1px solid darkgray;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.email-field-body{
    display: flex;
    font-size: 14px;
    white-space: pre-line;
}
#email-view {
    margin-bottom: 20px;
  }