body {
    background-color: #202124;
    margin: 0;
}
#navbar {
    background-color: #202124;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
}
#nav_button_box{
    display: block;
}
.nav_button{
    padding-inline: 6px;
    color: white;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    font-family: arial,sans-serif;
}
#mainWindow{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 15vh; 
}
.mainBlock{
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
}
.searchBar{
    display: flex;
    position: relative;
    min-height: 44px;
    background: #202124;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: auto;
    max-width: 584px;
}
.entryField{
    font-family: arial,sans-serif;
    line-height: 22px;
    margin-bottom: 8px;
    overflow-x: hidden;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    resize: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 10px;
    color: #e8eaed;
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    flex: 100%;
}
.buttonBlock{
    height: 70px;
    padding-top: 18px;
}
.button{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
form{
    display: block;
    margin-top: 0em;
}
h1{
    color: white;
}
h1{
    color: white;
    font-size: 20px;
    margin: 25px 35px;
}
h2{
    color: white;
    font-size: 16px;
    font-family: arial,sans-serif;
}
.line{
    border-bottom: 1px solid
}
.a_search_box{
    padding: 34px;
}
.text{
    color: white;
    font-family: arial,sans-serif;
    line-height: 16px;
}
.text_dark{
    color: #303134;
    font-family: arial,sans-serif;
    line-height: 16px;
}
#as_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.asr_label{
    width: 200px;
}
.as_input{
    width: 400px;
    height: 20px;
}
.as_button_box{
    width: 400px;
    padding: 6px;
}
.as_button{
float: right;
box-shadow: none;
background-color: #4d90fe;
border: #3079ed;
height: 30px;
padding: 8px;
cursor: pointer;
}